.loginRegister-root{
 color:darkblue;
 display:grid;
 grid-template-columns: auto auto auto;
 padding-top: 30px;
}
.loginRegister-link:hover{
    cursor: pointer;
    text-decoration: underline;
}
.MuiFormControl-root{
    margin-bottom: 20px;
}
.login-error{
    color: red;
    height: 20px;
    margin-top:10px;
    margin-bottom: 5px;
}

.loginRegister-avatar{
    width: 48px;
    height: 48px;
    margin: -10px;
    border-radius:5px;
}
.loginRegister-dropzone{
    margin-top:20px;
    margin-bottom:10px;
}

.edit-profile-avatar{
  cursor: pointer;
}