.loginRegister-root{
 color:darkblue;
 display:grid;
 grid-template-columns: auto auto auto;
 padding-top: 30px;
}
.loginRegister-link:hover{
    cursor: pointer;
    text-decoration: underline;
}
.MuiFormControl-root{
    margin-bottom: 20px;
}